@model IT_Chronicles.Models.ViewModels.EditTagRequest

@{
    ViewData["Title"] = "Edit a Tag";
}

<body>
    <div class="py-2">
        <div class="container">
            <h3>Edit Tags - Admin Functionality</h3>
        </div>
    </div>

    <div class="mt-4">
        <a asp-area="" asp-controller="AdminTag" asp-action="List" class="btn btn-secondary">View List</a>
    </div>

    @if(Model != null)
    {
        <div class="container py-5">
            <form method="post">

                <div class="mb-3">
                    <label class="form-label">Id</label>
                    <input type="text" class="form-control text-success" id="id" asp-for="Id" readonly />
                </div>


                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control text-success" id="name" asp-for="Name" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Display Name</label>
                    <input type="text" class="form-control text-success" id="displayname" asp-for="DisplayName" />
                </div>

                <div class="mb-3">

                    <div class="d-flex" style="justify-content:space-between;">
                        <button type="submit">Update</button>
                        <button type="submit" class="ms-2">
                            <a asp-area="" asp-controller="AdminTag" asp-action="Delete">Delete</a>
                        </button>

                    </div>

                </div>
            </form>
        </div>
    }

    else
    {
        <p>No tags found !</p>
    }
</body>