@model IT_Chronicles.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<body>

    <div class="container mx-auto">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 border-2" style="border-radius: 20px; border-width: 10px;">

                <h1 class="mb-3 h3 mt-3">Register</h1>

                <form method="post">

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" id="username" class="form-control text-success" asp-for="UserName" required/>
                        <span class="text-light" asp-validation-for="UserName" ></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" id="email" class="form-control text-success" asp-for="Email" required/>
                        <span class="text-light" asp-validation-for="Email"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" id="password" class="form-control text-success" asp-for="Password" required minlength="6"/>
                        <span class="text-light" asp-validation-for="Password"></span>
                    </div>

                    <div class="mb-3" style="align-content: center;">
                        <button type="submit" class="btn">Register</button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary me-4">Home</a>
                    </div>


                </form>

             
            </div>

        </div>

         <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row row-y-top">

            <div class="column medium-8 medium-12">
                <div class="row">
                    <div class="column medium-7 tab-12 s-footer__block">
                        <h2 class="h6">Where to Find Us</h2>
        
                       <p>
                        1 Missionvale 1ste Ave  <br>
                        Mountain View, Port Elizabeth <br>
                        94043  SA <br>
                        <a href="tel:197-543-2345">+197 543 2345</a>
                        </p>
                    </div>
        
                    <div class="column medium-5 tab-12 s-footer__block">
                        <h2 class="h6">Follow Us</h2 class="h6">
        
                        <ul class="s-footer__list">
                            <li><a href="#0">Facebook</a></li>
                            <li><a href="#0">Twitter</a></li>
                            <li><a href="#0">Instagram</a></li>
                            <li><a href="#0">Dribbble</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column large-4 medium-12 s-footer__block--end">
                <a href="mailto:#0" class="btn h-full-width">Let's Talk</a>

                <div class="ss-copyright">
                    <span>Copyright IT Chronicles 2024</span> 
                    <span>Design and Developed by Peter Geswint </span>
                </div>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    top
                </a>
            </div> <!-- end ss-go-top -->

        </div>
    </footer>

    </div>

</body>
